#first_name, #last_name, #mobile_number, #reservation_date, #reservation_time, #people {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;   
}

@media all and (min-width: 768px) {
    
}